@page "/admin/UrlNamePlaceholder-list"
@rendermode InteractiveServer
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject ICastMemberAdminService CastMemberAdminService
@attribute [StreamRendering]

<PageTitle>Cast Member List</PageTitle>

<section>
  <h1>Cast Member List</h1>
  <article>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Id</th>

          @* ListHeaderCodePlaceholder *@

          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (castMembers == null)
        {
          <tr>
            @* LoadingCountCodePlaceholder *@
          </tr>
        }
        else if (castMembers.Count == 0)
        {
          <tr>
            @* ZeroCountCodePlaceholder *@
          </tr>
        }
        else
        {
          @foreach (var castMember in castMembers)
          {
            <tr>
              <td>@castMember.Id</td>

              @* ListItemCodePlaceholder *@

              <td>
                <a href="@("/admin/UrlNamePlaceholder-edit/" + castMember.Id)">Edit</a>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
    <a href="/admin/UrlNamePlaceholder-edit">Create</a>
  </article>
</section>

@code {
  List<CastMember>? castMembers = null;

  protected override async Task OnInitializedAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    castMembers = await CastMemberAdminService.GetAllAsync(userName);
  }
}
