@page "/admin/cast-member-list"
@rendermode InteractiveServer
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject ICastMemberAdminService CastMemberAdminService
@attribute [StreamRendering]

<PageTitle>Cast Member List</PageTitle>

<section>
  <h1>Cast Member List</h1>
  <article>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Id</th>

          <th scope="col">Cast Member Movies</th>
              <th scope="col">Name 1</th>
              <th scope="col">Name 2</th>
              @* ListHeaderCodePlaceholder *@

          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (castMembers == null)
        {
          <tr>
            @* LoadingCountCodePlaceholder *@
          </tr>
        }
        else if (castMembers.Count == 0)
        {
          <tr>
            @* ZeroCountCodePlaceholder *@
          </tr>
        }
        else
        {
          @foreach (var castMember in castMembers)
          {
            <tr>
              <td>@castMember.Id</td>

              <td>
                @if (castMember.CastMemberMovies != null)
                {
                  var first = true;
                  foreach (var x in castMember.CastMemberMovies)
                  {
                    if (first)
                    {
                      first = false;
                    }
                    else
                    {
                      <span>, </span>
                    }
                    <span>@x?.Movie.Title</span>
                  }
                }
              </td>
              <td>@castMember.Name1</td>
          @* ListItemCodePlaceholder *@

              <td>
                <a href="@("/admin/cast-member-edit/" + castMember.Id)">Edit</a>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
    <a href="/admin/cast-member-edit">Create</a>
  </article>
</section>

@code {
  List<CastMember>? castMembers = null;

  protected override async Task OnInitializedAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    castMembers = await CastMemberAdminService.GetAllAsync(userName);
  }
}
