@page "/admin/cast-member-edit"
@page "/admin/cast-member-edit/{id:guid}"
@rendermode InteractiveAuto
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@inject ICastMemberAdminService CastMemberAdminService

@* InjectionCodePlaceholder *@
@* @inject IToDoListAdminService ToDoListAdminService *@

  @if (Id.Equals(Guid.Empty))
  {
    <PageTitle>Cast Member Creation</PageTitle>
  }
  else
  {
    <PageTitle>Cast Member Modification</PageTitle>
  }

<section>
  @if (Id.Equals(Guid.Empty))
  {
    <h1>Cast Member Creation</h1>
  }
  else
  {
    <h1>Cast Member Modification</h1>
  }
  <article>
    <EditForm class="container" Model="castMemberAdminEditModel" OnSubmit="HandleSubmit">

      <div class="row">
        <div class="col">
          <label>
            Name 1:
            <InputText @bind-Value="castMemberAdminEditModel.Name1" data-testid="castMemberAdminEditName1" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>
            Name 2:
            <InputText @bind-Value="castMemberAdminEditModel.Name2" data-testid="castMemberAdminEditName2" />
          </label>
        </div>
      </div>
      @* EditRowCodePlaceholder *@

      <div class="row">
        <div class="col">
          @if (!Id.Equals(Guid.Empty))
          {
            <button @onclick="Remove" type="button" class="btn btn-danger">Remove</button>
          }
        </div>
        <div class="col">
          <a href="/admin/cast-member-list">Cancel</a>
          @if (Id.Equals(Guid.Empty))
          {
            <button type="submit" class="btn btn-primary">Create</button>
          }
          else
          {
            <button type="submit" class="btn btn-primary">Modify</button>
          }
         </div>
      </div>
    </EditForm>
  </article>
</section>

@code {
  [Parameter]
  public Guid Id { get; set; }
  CastMemberAdminEditModel castMemberAdminEditModel { get; set; } = new CastMemberAdminEditModel();

  @* ListDeclarationCodePlaceholder *@

  protected override async Task OnInitializedAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    await base.OnInitializedAsync();

    @* OnInitializedCodePlaceholder *@
  }

  protected override async Task OnParametersSetAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    if (Id.Equals(Guid.Empty))
    {
      return;
    }

    var databaseCastMemberAdminDto = await CastMemberAdminService.GetByIdAsync(userName, Id);

    if (databaseCastMemberAdminDto == null)
    {
      castMemberAdminEditModel = new CastMemberAdminEditModel();
    }
    else
    {
      castMemberAdminEditModel = CastMemberAdminEditModel.FromCastMemberAdminDto(databaseCastMemberAdminDto);
    }
  }

  async Task HandleSubmit()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    @* RequiredPropertyPlaceholder *@

    @* if (string.IsNullOrWhiteSpace(castMemberAdminEditModel.Name))
    {
      return;
    } *@

    var castMemberAdminDto = CastMemberAdminEditModel.ToCastMemberAdminDto(castMemberAdminEditModel);
    castMemberAdminDto.ApplicationUserName = userName;

    if (Id.Equals(Guid.Empty))
    {
      var newCastMemberAdminDto = await CastMemberAdminService.AddAsync(castMemberAdminDto);

      if (newCastMemberAdminDto == null)
      {
        return;
      }

      NavigationManager.NavigateTo($"/admin/cast-member-edit/{newCastMemberAdminDto.Id}");
    }
    else
    {
      await CastMemberAdminService.EditAsync(castMemberAdminDto);
    }
  }

  async Task Remove()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name!;

    if (userName == null)
    {
      return;
    }

    if (Id.Equals(Guid.Empty))
    {
      return;
    }

    await CastMemberAdminService.DeleteAsync(userName, Id);
    NavigationManager.NavigateTo($"/admin/cast-member-list");
  }

  @* OnChangeCodePlaceholder *@
}
